@font-face {
    font-family: 'RFDewiExtended';
    src: url('../fonts/RFDewiExtended-Semibold.eot');
    src:
        url('../fonts/RFDewiExtended-Semibold.eot') format('embedded-opentype'),
        url('../fonts/RFDewiExtended-Semibold.woff2') format('woff2'),
        url('../fonts/RFDewiExtended-Semibold.woff') format('woff'),
        url('../fonts/RFDewiExtended-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}



@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');