.footer {
  background-image: url("../../img/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  width: 100vw;
  height: 100vh;
  // .footer__map
  &__map {
  }

  // .footer__contacts
  &__contacts {
  }

  // .footer__title
  &__title {
  }

  // .footer__name
  &__name {
  }

  // .footer__footer
  &__footer {
  }

  // .footer__line
  &__line {
  }

  // .footer__address
  &__address {
  }

  // .footer__links
  &__links {
  }

  // .footer__link
  &__link {
  }

  // .footer__map-container
  &__map-container {
  }
}

.subtitle {
}

.name {
  // .name__name
  &__name {
  }

  // .name__list
  &__list {
  }

  // .name__row
  &__row {
  }

  // .name__icon
  &__icon {
  }

  // .name__text
  &__text {
  }
}

.contact-info {
  // .contact-info__map-frame
  &__map-frame {
  }
}