.header {
  padding: 2.5rem;
  @media screen and (max-width: 992px) {
    padding: 1.25rem;
  }

  @media screen and (max-width: 639px) {
    padding: 1rem;
    width: 100%;
  }

  // .header__nav
  &__nav {
    @media screen and (max-width: 639px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__burger {
    display: none;

    @media screen and (max-width: 639px) {
      display: block;
      position: relative;
      height: 3.3rem;
      width: 3.3rem;
      cursor: pointer;
    }

    span {
      width: 1.6rem;
      height: 2px;
      background-color: white;
      position: absolute;

      top: 50%;
      transform: translateY(-50%);
      right: .5rem;
      transition-duration: .3s;
    }

    &::before, &::after {
      content: '';
      width: 2.5rem;
      height: 2px;
      background-color: white;
      position: absolute;

      right: .5rem;
      transition-duration: .3s;
    }

    &::before {
      top: 1rem;
    }

    &::after {
      bottom: 1rem;
    }
  }

  &__logo {
    max-width: 35.125rem;
    margin-bottom: .75rem;

    @media screen and (max-width: 639px) {
      max-width: 15rem;
      margin-bottom: 0;
    }

    img {
      @media screen and (max-width: 639px) {
        width: 100%;
      }
    }
  }

  // .header__list
  &__list {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;

    @media screen and (max-width: 639px) {
      display: none;
    }

    li {
      transition-duration: .3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  // .header__link
  &__link {
    &:hover {
      color: white;
    }

    &.active {
      color: white;
    }
  }
}

