.pavilion-block {
  scroll-snap-align: start;

  width: 100vw;
  height: 100dvh;
  // .pavilion-block__head
  &__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media screen and (max-width: 992px) {
      flex-direction: column;

    }
  }

  // .pavilion-block__title
  &__title {
    transform: translateX(100%);
    opacity: 0;
    transition-duration: .7s;

    @media screen and (max-width: 992px) {
      padding-top: 0;
      padding-left: 1.25rem;
      padding-bottom: 2.5rem;
    }
    @media screen and (max-width: 639px) {
      padding-bottom: 2rem;
      padding-left: 1rem;
    }

    &.anim {
      opacity: .4;
      transform: translateX(0);
    }

  }

  // .pavilion-block__row
  &__row {
    padding: 0 2.5rem 3rem;
    display: flex;
    align-items: flex-start;


    @media screen and (max-height: 900px) {
      column-gap: 3rem;
      align-items: center;
      height: auto;
    }

    @media screen and (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      row-gap: 2.5rem;
    }

    @media screen and (max-width: 639px) {
      padding: 0 1rem;
      row-gap: 2rem;
    }
  }

  // .pavilion-block__left
  &__left {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 10.625rem));
    grid-template-rows: repeat(5, minmax(auto, 6rem));
    gap: 1.5rem;

    flex: 1 1 50%;

    transform: translateX(-100%);
    opacity: 0;
    transition-duration: .7s;
    transition-delay: .2s;


    @media screen and (max-height: 900px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
    }

    @media screen and (max-width: 992px) {
      flex: none;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(3, minmax(auto, 4.5rem));
      gap: .375rem;
    }

    &.anim {
      opacity: 1;
      transform: translateX(0);
    }
  }

  // .pavilion-block__image
  &__image {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;

    @media screen and (max-height: 900px) {
      flex: 1 1 30%
    }

    img {
      width: 100%;
      max-height: 100%;
      object-fit: cover;
      @media screen and (max-width: 992px) {
        height: 100%;
        width: 100%;
      }
    }

    &_1 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 5;

      @media screen and (max-width: 992px) {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 4;
      }

    }

    &_2 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 7;

      @media screen and (max-width: 992px) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
      }

    }
  }

  // .pavilion-block__right
  &__right {
    flex: 0 0 50%;

    @media screen and (max-width: 992px) {
      flex: none;
      display: flex;
      flex-direction: column;
      align-items: center;

      justify-content: space-between;
      row-gap: 2.5rem;
    }
  }

  // .pavilion-block__list
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;

    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    @media screen and (max-height: 900px) {
      margin-top: 0;
      margin-bottom: 1rem;
    }

    @media screen and (max-width: 992px) {
      margin: 0;
      row-gap: 1.125rem;
    }

    @media screen and (max-width: 639px) {
      row-gap: 1rem;
    }

    li {
      display: flex;
      align-items: flex-start;
      column-gap: 4.5rem;

      transform: translateX(100%);
      transition-duration: .9s;
      opacity: 0;

      @media screen and (max-width: 992px) {
        column-gap: 3.5rem;
      }

      @media screen and (max-width: 639px) {
        column-gap: 1rem;
      }

      &:first-child {
        transition-delay: .4s;
      }

      &:nth-child(2) {
        transition-delay: .8s;
      }

      &:last-child {
        transition-delay: 1.2s;
      }

      &.anim {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  // .pavilion-block__number
  &__number {
    font-family: "RFDewiExtended", sans-serif;
    font-size: 3rem;
    line-height: 100%;
    color: white;
    flex: 0 0 5rem;

    @media screen and (max-width: 639px) {
      font-size: 1.6rem;
      flex: 0 0 2.7rem;
    }
  }

  // .pavilion-block__text
  &__text {
  }

  // .pavilion-block__button
  &__button {
    width: 22rem;
    margin-left: calc(5rem + 4.5rem);

    opacity: 0;
    transform: translateY(100%);
    transition-delay: 1.6s;
    transition-duration: .7s;
    @media screen and (max-width: 992px) {
      margin-left: 0;
    }

    @media screen and (max-width: 639px) {
      width: 17rem;
    }

    &.anim {
      opacity: 1;
      transform: translateY(0);
    }

  }
}