.fifth-title {
	@extend %block-title;
	left: 1150px;
}
.images-info {
	display: flex;
	justify-content: center;
	position: relative;
	height: 37.5rem;

	@media screen and (max-width: $tablet) {
		flex-wrap: wrap;
		height: 100%;
		margin-top: 40px;
	}

	@media screen and (max-width: $mobile) {
		margin-top: 50px;
		gap: 0;
		flex-direction: column;
		flex-wrap: nowrap;
		margin-left: -2.5rem;
		height: 100%;
		max-height: 40vh;
		justify-content: inherit;
	}

	&__image {
		&-1 {
			@extend %fifth-image;
			background-image: url('/img/fifth-block/1.png');
			background-color: rgba($color: #000000, $alpha: 0.6);
			background-blend-mode: multiply;
			filter: grayscale(100%);
			&:hover {
				background-color: rgba($color: #000000, $alpha: 0.3);
				filter: grayscale(0%);
			}
			@media screen and (max-width: $tablet) {
				flex: 0 0 48%;
			}
		}
		&-2 {
			@extend %fifth-image;
			background-image: url('/img/fifth-block/2.png');
			background-color: rgba($color: #000000, $alpha: 0.6);
			background-blend-mode: multiply;
			filter: grayscale(100%);
			&:hover {
				background-color: rgba($color: #000000, $alpha: 0.3);
				filter: grayscale(0%);
			}
			@media screen and (max-width: $tablet) {
				flex: 0 0 48%;
			}
		}
		&-3 {
			@extend %fifth-image;
			background-image: url('/img/fifth-block/3.png');
			background-color: rgba($color: #000000, $alpha: 0.6);
			background-blend-mode: multiply;
			filter: grayscale(100%);
			&:hover {
				background-color: rgba($color: #000000, $alpha: 0.3);
				filter: grayscale(0%);
			}
			@media screen and (max-width: $tablet) {
				flex: 0 0 48%;
			}
		}
		&-4 {
			@extend %fifth-image;
			background-image: url('/img/fifth-block/4.png');
			background-color: rgba($color: #000000, $alpha: 0.6);
			background-blend-mode: multiply;
			filter: grayscale(100%);
			&:hover {
				background-color: rgba($color: #000000, $alpha: 0.3);
				filter: grayscale(0%);
			}
			@media screen and (max-width: $tablet) {
				flex: 0 0 48%;
			}
		}
	}
	&__overlay {
		position: absolute;
		background-color: #000;
		opacity: 0.5;
		height: 36.875rem;
		margin-top: -3.75rem;
		margin-left: -2.5rem;
		margin-right: -4.375rem;
		width: 25rem;
		z-index: 0;
		transition: all 0.5s;

		&:hover {
			opacity: 0;
			z-index: 1000;
		}
	}

	&__text {
		z-index: 100;
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 1.875rem;
	}
	&__header {
		@extend %title;
		font-size: 1.875rem;
		color: white;
	}
	&__description {
		@extend %description;
		color: white;
		opacity: 0;
	}
}
