.text-info {
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	margin: 2.5rem;
	margin-bottom: 5rem;

	@media screen and (max-width: $mobile) {
		justify-content: start;
		margin: 2rem;
		margin-bottom: 6rem;
		gap: 2rem;
	}

	&__header {
		gap: 43.75rem;
		display: flex;
		justify-content: space-between;
	}
	&__title {
		@extend %title;
		font-size: 140px;
		opacity: 0.6;
	}
	&__text {
		display: flex;

		flex-direction: row;
		justify-content: space-between;
		@media screen and (max-width: $tablet) {
			justify-content: inherit;
			flex-direction: column;
			gap: 0.625rem;
		}
		@media screen and (max-width: $mobile) {
			gap: 1rem;
		}
		.numbered-item {
			&__number {
				flex: 0 0 6rem;
				text-align: center;

				@media screen and (max-width: $tablet) {
					flex: 0 0 4.7rem;
				}

				@media screen and (max-width: $mobile) {
					flex: 0 0 3.3rem;
				}
			}
			@media screen and (max-width: $mobile) {
				gap: 1rem;
			}

			&__text {
				font-size: 1rem;
			}
		}
	}
}
.image-info {
	width: 100%;
	height: 100%;
	max-height: 50vh;
	background: url('/img/fourth-block/naturePl 2.png') center center / cover no-repeat;
	position: relative;
	display: flex;
	justify-content: center;

	&__overlay {
		position: absolute;
		background-color: #08243f;
		width: 100%;
		height: 100%;
		opacity: 0.4;
	}
	&__content {
		position: relative;
		display: flex;
		justify-content: center;
		padding-top: 2.5rem;
	}
}
.fourth-title {
	@extend %block-title;
	right: -2.5rem;
	top: 2.5rem;
	@media screen and (max-width: $tablet) {
		transform: rotate(-90deg);
		right: -16.5rem;
		top: 10rem;
	}
	@media screen and (max-width: $mobile) {
		right: -8.5rem;
	}
}
