@import 'templates.scss';

.block {
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;

	&__first {
		@extend %block;
		scroll-snap-align: start;
		background: url('../img/background.png') center center / cover no-repeat;
		background-blend-mode: multiply;
		background-color: rgba(28, 28, 28, 0.6);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__second,
	&__third,
	&__fourth,
	&__fifth,
	&__sixth {
		@extend %block;
		display: flex;
		flex-direction: column;
		color: white;
		justify-content: space-between;
	}
	&__sixth {
		background: url('../img/background.png') center center / cover no-repeat;
		background-blend-mode: multiply;
		background-color: rgba(28, 28, 28, 0.6);
		display: flex;
		flex-direction: column;
		padding: 1.25rem;
		@media screen and (max-width: $mobile) {
			gap: 3rem;
		}
	}

	&__fifth {
		gap: 2.5rem;
		@media screen and (max-width: $mobile) {
			gap: 0;
			justify-content: inherit;
			padding-right: 0;
		}
	}

	&__second,
	&__third {
		flex-direction: row;

		@media screen and (max-width: $tablet) {
			flex-direction: column;
		}
	}

	&__second {
		padding: 0;
		justify-content: space-between;
	}

	&__fourth {
		padding: 0;
	}

	&__third {
		gap: 9.376rem;

		@media screen and (max-width: $tablet) {
			gap: 2.5rem;
			justify-content: inherit;
			padding-bottom: 2.5rem;
		}
		@media screen and (max-width: $mobile) {
			gap: 3rem;
		}
	}
}

.block__main-logo {
	width: 100%;
	max-width: 614px;
}

.info {
	color: #bbbbbb;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 2.5rem;

	@media screen and (max-width: $tablet) {
		gap: 2.5rem;
		padding: 1.25rem;
		padding-bottom: 0;
		margin-bottom: 2.5rem;
	}
	@media screen and (max-width: $mobile) {
		padding-bottom: 0;
	}

	&__title {
		@extend %title;
		font-size: 2.5rem;

		@media screen and (max-width: $mobile) {
			font-size: 2rem;
		}
	}

	&__text {
		@extend %description;
		display: flex;
		gap: 2.8125rem;
		flex-direction: column;
		max-width: 56.25rem;
		@media screen and (max-width: $tablet) {
			gap: 0.625;
		}
		@media screen and (max-width: $mobile) {
			gap: 1.5rem;
		}
	}
}

.button {
	@extend %button;
}

.header {
	display: flex;
	gap: 0.8125rem;
	flex-direction: column;
	max-width: 27.25rem;

	@media screen and (max-width: $tablet) {
		width: auto;
	}

	@media screen and (max-width: $mobile) {
		max-width: inherit;
		flex-direction: row;
		gap: 0;
		justify-content: space-between;
		width: 100% !important;
	}

	&__links {
		display: flex;
		justify-content: space-between;
		max-width: 27.25rem;

		@media screen and (max-width: $mobile) {
			display: none;
		}
	}

	&__logo {
		@media screen and (max-width: $mobile) {
			max-width: 18rem;
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	&__link {
		font-family: 'Nunito Sans', sans-serif;
		font-optical-sizing: auto;
		font-size: 1rem;
		font-weight: 400;
		color: #bbbbbb;
		transition: all 0.3s;

		&:hover {
			color: white;
			scale: 1.1;
		}
	}
}

.services {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: end;

	@media screen and (max-width: $tablet) {
	}

	.button {
		@media screen and (((max-height: 1100px) and (max-width: 750px)) or (max-width: 550px)) {
			display: none;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: 57% 43%;
		grid-template-rows: 41% 59%;
		height: 100%;
		max-width: 1028px;
		@media screen and (max-width: $tablet) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 36% 64%;
		}
		@media screen and (max-width: $mobile) {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			:nth-child(2) {
				order: 3;
			}
			:nth-child(3) {
				order: 2;
			}
		}
	}

	&__grid-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	&__grid-item {
		&:nth-child(1) {
			grid-row-start: 1;
			grid-row-end: 3;
			position: relative;

			background: url('../img/second-block/grid-1.png') center center / cover no-repeat;
			background: none;

			@media screen and (max-width: $mobile) {
				grid-row-start: 1;
				grid-row-end: 2;
			}
		}

		&:nth-child(2) {
			background: url('../img/second-block/grid-2.png') center center / cover no-repeat;
			background: none;
			position: relative;

			@media screen and (max-width: $mobile) {
				.services__wrapper {
					display: flex;
					justify-content: center;
				}
			}
		}

		&:nth-child(3) {
			background: none;
			position: relative;
		}
	}

	&__title {
		@extend %title;
		font-size: 1.875rem;
		max-width: 12rem;

		@media screen and (max-width: $mobile) {
			font-size: 1.6rem;
			max-width: inherit;
		}
	}

	&__description {
		@extend %description;
		width: 90%;
		font-size: 1.125rem;
		font-weight: 300;
		@media screen and (max-width: $mobile) {
			font-size: 1rem;
		}
	}

	.button {
	}

	&__overlay-1 {
		@extend %overlay;
		background-color: rgba(8, 36, 63, 0.6);

		@media screen and (max-width: $tablet) {
			.services__title {
				margin-bottom: 2rem;
			}
		}

		@media screen and (max-width: $mobile) {
			.services__title {
				margin-bottom: 0;
			}
		}
	}

	&__overlay-2 {
		@extend %overlay;
		background-color: rgba(8, 36, 63, 0.5);
		@media screen and (max-width: $mobile) {
			display: flex;
			justify-content: center;
		}
	}

	&__overlay-3 {
		@extend %overlay;
		background-color: rgba(126, 20, 16, 0.6);
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 3.125rem;

		@media screen and (max-width: $tablet) {
			gap: 0.625rem;
		}
		@media screen and (max-width: $mobile) {
			gap: 1rem;
		}
	}

	&__button {
		transition: all 0.3s;

		&:hover {
			scale: 1.1;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}
}


.numbered-item {
	display: flex;
	gap: 3.125rem;
	

	&__number {
		@extend %title;
		font-size: 2.8125rem !important;
		@media screen and (max-width: $mobile) {
			font-size: 2rem !important;
		}
	}

	&__text {
		@extend %description;
		font-size: 1.125rem;
		color: #bbbbbb;
		max-width: 46.875rem;
		line-height: 1.875rem;
	}
}

.burger {
	@media screen and (min-width: $mobile) {
	}
	position: fixed;
	transform: translateX(100%);
	top: 0;

	display: flex;
	height: 100vh;
	width: 100vw;
	flex-direction: column;
	align-items: center;
	gap: 60px;
	background-color: #1c1c1c;
	z-index: 10000 !important;
	color: white;
	padding: 10px;
	transition: all 0.3s;
	&__list {
		@extend %title;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 25px;
		font-size: 16px;
	}

	&__contacts {
		margin-top: 105%;
	}
}
.burger-active {
	transform: translateX(0);

	transition: all 0.3s;
	display: flex;
}
.open {
	display: none;

	@media screen and (max-width: $mobile) {
		display: flex;
		z-index: 100;
	}
}
