.main {
	@extend %block;
	display: flex;
	flex-direction: column;
	gap: 85px;

	&__choices {
		display: flex;
		flex-direction: row;
		gap: 40px;
	}
	&__choosed {
		position: relative;
		z-index: 1;
		height: calc(100vh - (152px + 60px + 85px));
		width: 100%;
		margin-right: 40px;
		border-radius: 0 10px 10px 0;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: end;
		align-items: start;
		color: white;
		padding: 40px;

		&-header {
			@extend %title;
			font-size: 40px;
		}

		&-text {
			@extend %description;
			font-size: 20px;
		}
	}
}

.headerL {
	position: relative;

	&__title {
		color: #ffffff;
		opacity: 0.4;
		z-index: 0;
	}

	&__blogo {
		width: max-content;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__logo {
		height: 72px;
		overflow: hidden;
	}

	&__back-link {
		display: flex;
		flex-direction: row;
		justify-content: end;
		align-items: center;
		background: #e2241d;
		gap: 30px;
		padding: 20px 20px;

		& p {
			@extend %title;
			font-size: 20px;
			color: white;
			display: block;
		}
	}
}

%item {
	@extend %title;

	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 40px;
	border-radius: 10px;
	padding-left: 50px;
	color: white;
	overflow: hidden;
	flex-shrink: 0;

	& button {
		background: #e21d1d;
		padding: 20px;
		align-self: self-end;
	}
	height: 220px;
}

.spisok {
	width: 550px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	overflow: scroll;
	height: calc(100vh - (152px + 60px + 85px));
	scrollbar-gutter: stable;
	flex-shrink: 0;
	&__item {
		&-1 {
			@extend %item;
			background-color: #ade21d;
		}
		&-2 {
			@extend %item;
			background-color: #e2ad1d;
		}
		&-3 {
			@extend %item;
			background-color: #1de21d;
		}
		&-4 {
			@extend %item;
			background-color: #1de2e2;
		}
		&-5 {
			@extend %item;
			background-color: #1d1de2;
		}
		&-6 {
			@extend %item;
			background-color: #e21da7;
		}
	}
}
