.main {
	@extend %block;
	display: flex;
	flex-direction: column;
	gap: 5.3125rem;

	&__choices {
		display: flex;
		flex-direction: row;
		gap: 2.5rem;
		position: relative;
		z-index: 1;
	}
	&__choosed {
		position: relative;
		z-index: 1;
		height: calc(100vh - 18.625rem);
		width: 100%;
		margin-right: 2.5rem;
		border-radius: 0 10px 10px 0;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		justify-content: end;
		align-items: start;
		color: white;
		padding: 2.5rem;
		@media screen and (max-width: $tablet) {
			display: none;
		}

		&-header {
			@extend %title;
			font-size: 2.5rem;
		}

		&-text {
			@extend %description;
			font-size: 1.25rem;
		}
	}
}

.headerL {
	position: relative;

	&__title {
		color: #ffffff;
		opacity: 0.4;
		z-index: 0;
	}

	&__blogo {
		width: max-content;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		position: relative;
		z-index: 1;
	}

	&__logo {
		height: 4.5rem;
		overflow: hidden;
	}

	&__back-link {
		display: flex;
		flex-direction: row;
		justify-content: end;
		align-items: center;
		background: #e2241d;
		gap: 1.875rem;
		padding: 1.25rem 1.25rem;
		transition: all 0.5s;

		& p {
			@extend %title;
			font-size: 1.25rem;
			color: white;
			display: block;
		}

		&:hover {
			scale: 1.05;
			background-color: #d34843;
			transition: all 0.5s;
		}
	}
}

%item {
	@extend %title;
	cursor: pointer;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 2.5rem;
	border-radius: 10px;
	padding-left: 3.125rem;
	color: white;
	overflow: hidden;
	flex-shrink: 0;

	& button {
		background: #e21d1d;
		padding: 1.25rem;
		align-self: self-end;
		@media screen and (max-width: $tablet) {
			align-self: flex-start;

			border-radius: 10px;
			width: 2.8125rem;
			height: 2.8125rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	height: 100%;
	max-height: 14rem;
	@media screen and (max-width: $tablet) {
		max-height: 8rem;
		padding-top: 2.5rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		padding-bottom: 1.25rem;
		align-items: start;
	}
}

.spisok {
	width: 34.375rem;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	overflow: scroll;
	height: calc(100vh - (152px + 60px + 85px));
	scrollbar-gutter: stable;
	flex-shrink: 0;
	@media screen and (max-width: $tablet) {
		width: 100%;
	}

	&::-webkit-scrollbar {
		width: none;
	}
	scrollbar-width: none;
	-ms-overflow-style: none;
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&__text {
		display: none;
		font-size: 1.25rem;
		font-family: 'Raleway', sans-serif;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: start;
		width: 100%;
	}
	&__item {
		&-1 {
			@extend %item;
			background-color: #ade21d;
		}
		&-2 {
			@extend %item;
			background-color: #e2ad1d;
		}
		&-3 {
			@extend %item;
			background-color: #1de21d;
		}
		&-4 {
			@extend %item;
			background-color: #1de2e2;
		}
		&-5 {
			@extend %item;
			background-color: #1d1de2;
		}
		&-6 {
			@extend %item;
			background-color: #e21da7;
		}
	}
}
