@import 'nullstyle.scss';
@import 'templates.scss';

@import 'colors.scss';

@import 'fonts.scss';

@import 'index.scss';

@import 'third-block.scss';
@import 'fourth-block.scss';
@import 'fifth-block.scss';
@import 'sixth-block.scss';

@import 'pavilioni.scss';

html {
	overflow-y: hidden;
	overflow-x: hidden;
	scroll-behavior: smooth !important;
	scrollbar-width: 3px;
	scrollbar-color: #e2241d #1c1c1c;

	&::-webkit-scrollbar {
		width: 3px;
	}
	&::-webkit-scrollbar-track {
		background-color: #1c1c1c;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #e2241d;
		border-radius: 10px;
	}
}

.hidden {
	opacity: 0;
}
