@import 'src/scss/nullstyle';
@import 'src/scss/colors';
@import 'src/scss/fonts';


html {
  //overflow-y: hidden;
  overflow-x: hidden !important;
  scroll-behavior: smooth !important;
  scrollbar-color: #e2241d #1c1c1c;

  font-size: calc(10px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
  @media screen and (max-width: 992px) {
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (768 - 320)));
  }

  &::-webkit-scrollbar-track {
    background-color: #1c1c1c;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #e2241d;
    border-radius: 5px;
  }

  &::-webkit-scrollbar {
    width: 1px;
  }
}

.hidden {
  opacity: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  line-height: 130%;
  color: $text;
  background-color: $back;
  overflow-x: hidden;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  overflow-x: hidden;
  transition-duration: .5s;
}

.subtitle {
  font-family: "RFDewiExtended", sans-serif;
  line-height: 100%;
  font-size: 2.5rem;

  @media screen and (max-width: 639px) {
    font-size: 1.6rem;
  }

}

.title {
  font-family: "RFDewiExtended", sans-serif;
  font-weight: 700;
  font-size: 9rem;
  line-height: 100%;
  padding: 2.5rem;
  color: white;
  opacity: .4;

  @media screen and (max-height: 900px) {
    font-size: 5rem;
  }

  @media screen and (max-width: 1330px) {
    font-size: 5rem;
  }

  @media screen and (max-width: 992px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 639px) {
    padding: 0;
  }

}

.button {
  font-family: "RFDewiExtended", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: white;

  padding: .75rem 1.5rem;
  background-color: $red;
  transition-duration: .3s;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 639px) {
    font-size: 1rem;

    img {
      max-width: 1rem;
    }
  }

  &:hover {
    background-color: #ea413a;
    transform: scale(1.1);
  }
}

@import "components/screensevar";
@import "components/header";
@import "components/burger";
@import "components/first-block";
@import "components/second-block";
@import "components/third-block";
@import "components/fourth-block";
@import "components/fifth-block";
@import "components/pavilioni";
@import "components/pop-up";