.images-container {
	display: flex;
	flex-direction: column;
	gap: 60px;
	padding-right: 20px;

	&__grid {
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-height: 730px;

		&2 {
			display: flex;
			flex-direction: row;
			gap: 20px;
		}

		&3 {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			gap: 20px;
		}
	}
	&__item {
		&-lg {
			height: 524px;
			width: 767px;
			background: url('/img/third-block/map.png') center center / cover no-repeat;
			@media screen and (max-width: 1600px) {
				display: none;
			}
		}
		&-md {
			height: 255px;
			width: 373px;
			background: url('/img/third-block/p1.png') center center / cover no-repeat;
			@media screen and (max-width: 1600px) {
				background: url('/img/third-block/map.png') center center / cover no-repeat;
			}
		}
		&-sm {
			max-height: 81px;

			&1 {
				background: url('/img/third-block/p2.png') center center / cover no-repeat;
				height: 117px;
				width: 173px;
				@media screen and (max-width: 1600px) {
					background: url('/img/third-block/p1.png') center center / cover no-repeat;
				}
			}
			&2 {
				background: url('/img/third-block/p3.png') center center / cover no-repeat;
				height: 117px;
				width: 173px;
				@media screen and (max-width: 1600px) {
					background: url('/img/third-block/p2.png') center center / cover no-repeat;
				}
			}
			&3 {
				background: url('/img/third-block/p4.png') center center / cover no-repeat;
				height: 117px;
				width: 173px;
				@media screen and (max-width: 1600px) {
					background: url('/img/third-block/p3.png') center center / cover no-repeat;
				}
			}
			&4 {
				background: url('/img/third-block/p5.png') center center / cover no-repeat;
				height: 117px;
				width: 173px;
				@media screen and (max-width: 1600px) {
					background: url('/img/third-block/p4.png') center center / cover no-repeat;
				}
			}
		}
	}
}
.info-container {
	display: flex;
	flex-direction: column;
	gap: 90px;
	padding-top: 270px;
	&__title {
		@extend %title;
		font-size: 140px;
		opacity: 0.6;
	}
	@media screen and (max-width: 1600px) {
		padding-top: 0;
	}
}

.information {
	display: flex;
	flex-direction: column;
	gap: 20px;
	@media screen and (max-height: 850px) {
		.numbered-item {
			&__number {
				font-size: 35px;
			}

			&__text {
				font-size: 15px;
				line-height: 25px;
			}
		}
	}
}

.third-title {
	@extend %block-title;
	left: 1200px;
}
